<%- include('partial/header') %> 
    <body>
        <script>
            function addition(){
                const trow=document.createElement("tr");
                //
                var tdatec=document.createElement("td");
                var tdate=document.createElement("input");
                tdate.type="date";
                tdate.class="dates";
                tdatec.appendChild(tdate);
                trow.appendChild(tdatec);
                //
                var tcatc=document.createElement("td");
                var tcat=document.createElement("input");
                tcat.type="text";
                tcat.class="cats";
                tcatc.appendChild(tcat);
                trow.appendChild(tcatc);
                //
                var ttitlec=document.createElement("td");
                var ttitle=document.createElement("input");
                ttitle.type="text";
                ttitle.class="titles";
                ttitlec.appendChild(ttitle);
                trow.appendChild(ttitlec);
                //
                var tlevelc=document.createElement("td");
                var tlevel=document.createElement("input");
                tlevel.type="text";
                tlevel.class="levels";
                tlevelc.appendChild(tlevel);
                trow.appendChild(tlevelc);
                //
                var r=document.getElementById("records-table");
                r.appendChild(trow);
            }

            function update() {
                fetch("http://localhost:8080", {
                    body: { data: "silchar"}
                })                
            }

        </script>
        <header>
            
            <h1>Travel Safe Security</h1>
        </header>
        <center>
        <form id="code-form" method="post">
            <input type="text" id="code" name="code" placeholder="Enter Code"><input type="text" id="city" name="city_name" placeholder="Enter City">
            <input type="submit" value="Submit" id="codesub" method="post">
        </form>
        <form id="records" action="/police" method="post">
            <input type="submit"  id="add" onclick="addition()" value="+"><button id="upd" onclick="update()">Update Record</button>
            <table id="records-table">
                <tr><th>Date<input type="date" name="date"></th>
                    <th>Crime<input type="text" name="crime"></th>
                    <th>City<input type="text" name="city"></th>
                    <th>Crime Rating<input type="number" name="crime_rating"></th></tr>
                
            </table>
        </form>
     
        </center>
        <%- include('partial/footer') %> 