header{
    text-align:center;
    height: 5cm;
    color:#000000;
}
header h1{
font-family: 'Dancing Script', cursive;
font-size:2cm;
} 

header #welcome{
position: relative;
left:25%;
top:20px;
font-size:1cm;
color:#000000;
width:50%;
overflow:wrap;
font-family:  'Roboto', sans-serif;
font-weight:800;

}
header #top-right{
position:absolute;
top:0px;
left:0px;
height:20cm;
width:20cm;
border:0px solid transparent;
border-bottom-right-radius: 20cm;
background-color: #ab5cf5;
animation-name: topRight;
animation-duration:2s;
animation-fill-mode: forwards;
}
@keyframes topRight{
0%{
    height:20cm;
    width:20cm;
    border-bottom-right-radius: 20cm;
}
100%{
    height:10cm;
    width:10cm;
    border-bottom-right-radius: 10cm;
}
}
form{
display:flex;
flex-direction: column;

}
#form{
position:absolute;
visibility: visible;
left:20%;
top:50%;
display:flex;
width:50%;
flex-direction: row;
justify-content: space-around;
background-image: linear-gradient(45deg,#e4e3bd, #ececda);
box-shadow: 0 0 10px #e4e3bd;
padding:1cm;
border:0px solid transparent;
border-radius: 10px;
transition-duration: 1s;
font-family: 'Montserrat', sans-serif;         
}
#form:hover{
transition-duration: 1s;
top:45%;
box-shadow: 0 50px 100px #636251;
}
#form label{
font-size:0.5cm;
}
#form .input_box{
height:0.8cm;
border:0px solid transparent;
border-bottom: 1px solid #34065f;;
background-color: transparent;
}
#form #date{
font-size:0.5cm;
text-transform: uppercase;
color:#322d52;
}
#form .input_box::placeholder{
font-family: 'Montserrat', sans-serif;
}
#form #lbls,#flds{
display:flex;
flex-direction:column;
justify-content: space-around;
line-height: 1.5cm;
width:50%;
}
#form #lbls{
width:100%;
}
#form #duration{
border:0px solid transparent;
border-radius: 20px;
height:1cm;
background-color: #eef0e1;
text-align: center;
font-size: 0.5cm;
font-family: 'Montserrat', sans-serif;
}
#safe{
position:relative;
top:5cm;
left:-7cm;
width:40%;
height:1cm;
color:#34065f;
background-color: #c4c2ad;
text-transform: uppercase;
text-align: center;
border:0px solid transparent;
border-radius: 1cm;
padding-left:1cm;
padding-right:1cm;
transition-duration: 1s;
}

#safe:hover{
left:-5.5cm;
transition-duration: 1s;
padding-left:2cm;
padding-right:2cm;
}
#code-form #code{
position:relative;
left:40%;
height:1cm;
border:0px solid transparent;
border-bottom:1px solid #322d52;
font-family:  'Roboto', sans-serif;
width:8cm;
background-color: transparent;
}  
#records{
position: relative;
top:1cm;
border:1px solid #000000;
border-radius:10px;
}
#records #add{
position:relative;
left:48%;
width:2cm;
height:2cm;
border:0px solid transparent;
border-radius:100%;
font-size:1cm;
color:#636251;
}
#records th{
font-size:0.4cm;
text-transform: uppercase;
}
#upd{
position:relative;
left:47%;
width:3cm;
height:1cm;
border:0px solid transparent;
border-radius:1cm;
}
#records-table input{
height:1cm;
position:relative;
left:2cm;
font-size:0.3cm;
text-transform: uppercase;
}
#city{
position:relative;
left:40%;
top:5px;
width:8cm;
height:1cm;
border:0px solid transparent;
border-bottom:1px solid #322d52;
}
.titles{
width:6cm;
}
#codesub{
position:relative;
left:42%;
width:6cm;
height:1cm;
border-radius:1cm;
top:1cm;
border:0px solid transparent;
}